In [1]:
import pandas as pd
import numpy as np

In [2]:
social = 2**0/7
remarketing = 2**4/7
display = 2**8/7

print(social, remarketing, display)

0.14285714285714285 2.2857142857142856 36.57142857142857

In [3]:
winter_data = pd.read_csv('Winters Digital Attribution.csv')
winter_data.head()

   Order Id Order Date Time  ...  Position Time Time to Convert (Days)
0  11634052     5/1/12 4:24  ...         5/1/12                    0.0
1  11634052     5/1/12 4:24  ...         5/1/12                    0.0
2  11634059     5/1/12 4:08  ...        4/29/12                    2.0
3  11634059     5/1/12 4:08  ...        4/24/12                    7.0
4  11634059     5/1/12 4:08  ...        4/23/12                    8.0

[5 rows x 14 columns]

In [4]:
winter_data['Position Name'].unique()

array(['CONVERTER', 'ORIGINATOR', 'ASSIST', 'ROSTER'], dtype=object)

In [5]:
last_touchpts = winter_data.loc[winter_data['Position Name'] == 'CONVERTER', ]
agg = last_touchpts.groupby('Group Name')[['Order Id']].count().reset_index()
agg['Percentage'] = agg['Order Id'] / agg['Order Id'].sum()
agg.sort_values(by = 'Percentage', ascending=False)

                Group Name  Order Id  Percentage
2                      CPM      1112    0.512442
0           BUZZ AFFILIATE       632    0.291244
1                       CJ       312    0.143779
5  SEARCH GOOGLE NON-BRAND        42    0.019355
8            Uncategorized        30    0.013825
7                       TV        25    0.011521
6     SEARCH MSN NON-BRAND         7    0.003226
3                    OTHER         5    0.002304
4        PRINT - MAGAZINES         5    0.002304

In [6]:
first_touchpts = winter_data.loc[winter_data['Position Name'] == 'ORIGINATOR', ]
agg1 = first_touchpts.groupby('Group Name')[['Order Id']].count().reset_index()
agg1['Percentage'] = agg1['Order Id'] / agg1['Order Id'].sum()
agg1.sort_values(by = 'Percentage', ascending=False)

                 Group Name  Order Id  Percentage
2                       CPM       812    0.374366
6       SEARCH GOOGLE BRAND       662    0.305210
0            BUZZ AFFILIATE       287    0.132319
8          SEARCH MSN BRAND       163    0.075150
1                        CJ       107    0.049331
7   SEARCH GOOGLE NON-BRAND        65    0.029968
4                     OTHER        24    0.011065
12                       TV        20    0.009221
13            Uncategorized        14    0.006455
9      SEARCH MSN NON-BRAND         7    0.003227
5         PRINT - MAGAZINES         4    0.001844
11                   Social         2    0.000922
3               DIRECT MAIL         1    0.000461
10       SEARCH YAHOO BRAND         1    0.000461

In [7]:
first_touchpts['Group Name'].value_counts()

CPM                        812
SEARCH GOOGLE BRAND        662
BUZZ AFFILIATE             287
SEARCH MSN BRAND           163
CJ                         107
SEARCH GOOGLE NON-BRAND     65
OTHER                       24
TV                          20
Uncategorized               14
SEARCH MSN NON-BRAND         7
PRINT - MAGAZINES            4
Social                       2
SEARCH YAHOO BRAND           1
DIRECT MAIL                  1
Name: Group Name, dtype: int64

Both attributtion models put the CPM channel with the hightest attribution. However, Last touch points doubles the channel attribution. 

------------------

Focusing in new customers

In [8]:
last_touchpts1 = winter_data.loc[(winter_data['Position Name'] == 'CONVERTER') & (winter_data['New Customer'] == 'Y'), ]
agg2 = last_touchpts1.groupby('Group Name')[['Order Id']].count().reset_index()
agg2['Percentage'] = agg2['Order Id'] / agg2['Order Id'].sum()
agg2.sort_values(by = 'Percentage', ascending=False)

                Group Name  Order Id  Percentage
2                      CPM       545    0.420525
0           BUZZ AFFILIATE       450    0.347222
1                       CJ       220    0.169753
5  SEARCH GOOGLE NON-BRAND        32    0.024691
8            Uncategorized        23    0.017747
7                       TV        17    0.013117
4        PRINT - MAGAZINES         4    0.003086
6     SEARCH MSN NON-BRAND         3    0.002315
3                    OTHER         2    0.001543

In [9]:
first_touchpts1 = winter_data.loc[(winter_data['Position Name'] == 'ORIGINATOR') & (winter_data['New Customer'] == 'Y'), ]
agg3 = first_touchpts1.groupby('Group Name')[['Order Id']].count().reset_index()
agg3['Percentage'] = agg3['Order Id'] / agg3['Order Id'].sum()
agg3.sort_values(by = 'Percentage', ascending=False)

                 Group Name  Order Id  Percentage
2                       CPM       486    0.375000
5       SEARCH GOOGLE BRAND       416    0.320988
0            BUZZ AFFILIATE       163    0.125772
7          SEARCH MSN BRAND        93    0.071759
1                        CJ        59    0.045525
6   SEARCH GOOGLE NON-BRAND        42    0.032407
11                       TV        13    0.010031
3                     OTHER         7    0.005401
12            Uncategorized         7    0.005401
8      SEARCH MSN NON-BRAND         6    0.004630
4         PRINT - MAGAZINES         2    0.001543
9        SEARCH YAHOO BRAND         1    0.000772
10                   Social         1    0.000772

In [10]:
## Merge to see if we can compare
compare_last = pd.merge(agg, agg2, how ='outer', on='Group Name', suffixes=['_all','_new'])
compare_last[['Group Name','Percentage_all','Percentage_new']]

                Group Name  Percentage_all  Percentage_new
0           BUZZ AFFILIATE        0.291244        0.347222
1                       CJ        0.143779        0.169753
2                      CPM        0.512442        0.420525
3                    OTHER        0.002304        0.001543
4        PRINT - MAGAZINES        0.002304        0.003086
5  SEARCH GOOGLE NON-BRAND        0.019355        0.024691
6     SEARCH MSN NON-BRAND        0.003226        0.002315
7                       TV        0.011521        0.013117
8            Uncategorized        0.013825        0.017747

In [11]:
compare_first = pd.merge(agg1, agg3, how ='outer', on='Group Name', suffixes=['_all','_new'])
compare_first[['Group Name','Percentage_all','Percentage_new']]

                 Group Name  Percentage_all  Percentage_new
0            BUZZ AFFILIATE        0.132319        0.125772
1                        CJ        0.049331        0.045525
2                       CPM        0.374366        0.375000
3               DIRECT MAIL        0.000461             NaN
4                     OTHER        0.011065        0.005401
5         PRINT - MAGAZINES        0.001844        0.001543
6       SEARCH GOOGLE BRAND        0.305210        0.320988
7   SEARCH GOOGLE NON-BRAND        0.029968        0.032407
8          SEARCH MSN BRAND        0.075150        0.071759
9      SEARCH MSN NON-BRAND        0.003227        0.004630
10       SEARCH YAHOO BRAND        0.000461        0.000772
11                   Social        0.000922        0.000772
12                       TV        0.009221        0.010031
13            Uncategorized        0.006455        0.005401

In [12]:
### OLD CUSTOMERS

last_touchpts2 = winter_data.loc[(winter_data['Position Name'] == 'CONVERTER') & (winter_data['New Customer'] == 'N'), ]
agg2 = last_touchpts2.groupby('Group Name')[['Order Id']].count().reset_index()
agg2['Percentage'] = agg2['Order Id'] / agg2['Order Id'].sum()
agg2.sort_values(by = 'Percentage', ascending=False)

                Group Name  Order Id  Percentage
2                      CPM       567    0.648741
0           BUZZ AFFILIATE       182    0.208238
1                       CJ        92    0.105263
5  SEARCH GOOGLE NON-BRAND        10    0.011442
7                       TV         8    0.009153
8            Uncategorized         7    0.008009
6     SEARCH MSN NON-BRAND         4    0.004577
3                    OTHER         3    0.003432
4        PRINT - MAGAZINES         1    0.001144

In [13]:
first_touchpts2 = winter_data.loc[(winter_data['Position Name'] == 'ORIGINATOR') & (winter_data['New Customer'] == 'N'), ]
agg3 = first_touchpts2.groupby('Group Name')[['Order Id']].count().reset_index()
agg3['Percentage'] = agg3['Order Id'] / agg3['Order Id'].sum()
agg3.sort_values(by = 'Percentage', ascending=False)

                 Group Name  Order Id  Percentage
2                       CPM       326    0.373425
6       SEARCH GOOGLE BRAND       246    0.281787
0            BUZZ AFFILIATE       124    0.142039
8          SEARCH MSN BRAND        70    0.080183
1                        CJ        48    0.054983
7   SEARCH GOOGLE NON-BRAND        23    0.026346
4                     OTHER        17    0.019473
11                       TV         7    0.008018
12            Uncategorized         7    0.008018
5         PRINT - MAGAZINES         2    0.002291
3               DIRECT MAIL         1    0.001145
9      SEARCH MSN NON-BRAND         1    0.001145
10                   Social         1    0.001145

In [14]:
## Merge to see if we can compare
compare_last = pd.merge(agg, agg2, how ='inner', on='Group Name', suffixes=['_all','_old'])
compare_last[['Group Name','Percentage_all','Percentage_old']]

                Group Name  Percentage_all  Percentage_old
0           BUZZ AFFILIATE        0.291244        0.208238
1                       CJ        0.143779        0.105263
2                      CPM        0.512442        0.648741
3                    OTHER        0.002304        0.003432
4        PRINT - MAGAZINES        0.002304        0.001144
5  SEARCH GOOGLE NON-BRAND        0.019355        0.011442
6     SEARCH MSN NON-BRAND        0.003226        0.004577
7                       TV        0.011521        0.009153
8            Uncategorized        0.013825        0.008009

In [15]:
compare_first = pd.merge(agg1, agg3, how ='inner', on='Group Name', suffixes=['_all','_old'])
compare_first[['Group Name','Percentage_all','Percentage_old']]

                 Group Name  Percentage_all  Percentage_old
0            BUZZ AFFILIATE        0.132319        0.142039
1                        CJ        0.049331        0.054983
2                       CPM        0.374366        0.373425
3               DIRECT MAIL        0.000461        0.001145
4                     OTHER        0.011065        0.019473
5         PRINT - MAGAZINES        0.001844        0.002291
6       SEARCH GOOGLE BRAND        0.305210        0.281787
7   SEARCH GOOGLE NON-BRAND        0.029968        0.026346
8          SEARCH MSN BRAND        0.075150        0.080183
9      SEARCH MSN NON-BRAND        0.003227        0.001145
10                   Social        0.000922        0.001145
11                       TV        0.009221        0.008018
12            Uncategorized        0.006455        0.008018

#### TIME - DECAY

In [16]:
winter_data['Non-normalized credits'] = 2**-winter_data['Time to Convert (Days)']/7
winter_data[['Group Name','Non-normalized credits','Time to Convert (Days)']]

                Group Name  Non-normalized credits  Time to Convert (Days)
0           BUZZ AFFILIATE                0.142857                     0.0
1      SEARCH GOOGLE BRAND                0.142857                     0.0
2        PRINT - MAGAZINES                0.035714                     2.0
3                      CPM                0.001116                     7.0
4        PRINT - MAGAZINES                0.000558                     8.0
...                    ...                     ...                     ...
10114                  CPM                0.071429                     1.0
10115                  CPM                0.000035                    12.0
10116                  CPM                0.000035                    12.0
10117                  CPM                0.000002                    16.0
10118                  CPM                0.000002                    16.0

[10119 rows x 3 columns]

In [17]:
grouped = winter_data[['Order Id','Non-normalized credits']].groupby('Order Id')
# grouped['Normalize credits'] = grouped['Non-normalized credits'].transform(lambda x: x/sum(x))
# grouped[['Group Name','Normalize credits','Time to Convert (Days)']]
winter_data['t_decay_credit_normed'] = grouped.transform(lambda x: x/sum(x))

In [19]:
winter_data.head()

   Order Id Order Date Time  ...  Non-normalized credits t_decay_credit_normed
0  11634052     5/1/12 4:24  ...                0.142857              0.500000
1  11634052     5/1/12 4:24  ...                0.142857              0.500000
2  11634059     5/1/12 4:08  ...                0.035714              0.955224
3  11634059     5/1/12 4:08  ...                0.001116              0.029851
4  11634059     5/1/12 4:08  ...                0.000558              0.014925

[5 rows x 16 columns]

In [20]:
num_order = len(winter_data['Order Id'].unique())
T_tdecay = pd.DataFrame(winter_data[['Group Name', 't_decay_credit_normed']].groupby('Group Name').sum()/num_order).reset_index()

In [21]:
np.round(T_tdecay, 3)

                 Group Name  t_decay_credit_normed
0            BUZZ AFFILIATE                  0.212
1                        CJ                  0.087
2                       CPM                  0.538
3               DIRECT MAIL                  0.000
4                     OTHER                  0.004
5         PRINT - MAGAZINES                  0.002
6       SEARCH GOOGLE BRAND                  0.094
7   SEARCH GOOGLE NON-BRAND                  0.017
8          SEARCH MSN BRAND                  0.023
9      SEARCH MSN NON-BRAND                  0.004
10       SEARCH YAHOO BRAND                  0.000
11                   Social                  0.000
12                       TV                  0.009
13            Uncategorized                  0.009

In [24]:
T_tdecay.t_decay_credit_normed.sum()

0.9999999999999994